<div class="container mt-5">
  <h1 class="mb-3">Ejemplo de pipes</h1>
  <h4>Texto</h4>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Ejemplo</th>
        <th scope="col">Pipe</th>
        <th scope="col">Resultado</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">{{ texto }}</th>
        <td>Uppercase</td>
        <td>{{ texto | uppercase }}</td>
      </tr>

      <tr>
        <th scope="row">{{ texto }}</th>
        <td>Lowercase</td>
        <td>{{ texto | lowercase }}</td>
      </tr>

      <tr>
        <th scope="row">{{ texto }}</th>
        <td>Slice:3</td>
        <td>{{ texto | slice:3 }}</td>
      </tr>
    <tr>
        <th scope="row">{{ texto }}</th>
        <td>Slice:0:3</td>
        <td>{{ texto | slice:0:3 }}</td>
    </tr>
    <tr>
        <th scope="row">{{ arreglo }}</th>
        <td>Slice:1:5</td>
        <td>{{ arreglo | slice:1:5 }}</td>
    </tr>
    </tbody>
  </table>

  <h4>Decimales</h4>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Ejemplo</th>
        <th scope="col">Pipe</th>
        <th scope="col">Resultado</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">{{ PI }}</th>
        <td>number</td>
        <td>{{ PI | number }}</td>
      </tr>

      <tr>
        <th scope="row">{{ PI }}</th>
        <td>number:'3.0-0'</td>
        <td>{{ PI | number:'3.0-0' }}</td>
      </tr>

    <tr>
        <th scope="row">{{ PI }}</th>
        <td>number:'3.0-0'</td>
        <td>{{ PI | number:'3.0-0' }}</td>      
    </tr>

    <tr>
        <th scope="row">{{ PI }}</th>
        <td>number:'1.0-2'</td>
        <td>{{ PI | number:'1.0-2' }}</td>
    </tr>



    </tbody>
  </table>

  <hr class="mt-4">
  <h4>Slice (*ngFor="let item of arreglo | slice:3:7")</h4>
  <ul>
      <li *ngFor="let item of arreglo | slice:3:7">{{ item }}</li>
  </ul>
</div>
